$fz-base: 16px;
$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 18px;
$fz-lg: 20px;
$fz-xl: 24px;

$ff-roboto: 'Roboto', system, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    'Segoe UI', Arial, sans-serif;
$ff-product: 'Product Sans', system, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    'Segoe UI', Arial, sans-serif;

$white: #ffffff;
$black: #202124;
$grey: rgba(0,0,0,.54);
$lightGrey: #dadce0;
